In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [41]:
#read a csv file

df=pd.read_csv("C:/Users/sanga/OneDrive/Desktop/spam_detection/spamdataset.csv")
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5581      ham                         Rofl. Its true to its name
5582     spam                      aao bhai 1000 crore jeeth jao
5583     spam              1 crore credited to your bank account
5584     spam                                    Jackpot Jackpot
5585     spam                             jackpot is necessarily

[5586 rows x 2 columns]

In [42]:
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 0 to 5585
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5586 non-null   object
 1   Message   5586 non-null   object
dtypes: object(2)
memory usage: 87.4+ KB

In [44]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [45]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [46]:
df[df["Category"].isna()]

Empty DataFrame
Columns: [Category, Message]
Index: []

In [47]:
print(df["Category"].value_counts())

Category
ham     4825
spam     761
Name: count, dtype: int64

In [48]:
df[df["Message"].isna()]

Empty DataFrame
Columns: [Category, Message]
Index: []

In [49]:
df.describe()

       Category                 Message
count      5586                    5586
unique        2                    5171
top         ham  Sorry, I'll call later
freq       4825                      30

In [50]:
df["Category"].unique()

len_unique_values=len(df["Category"].unique())
len_unique_values

2

In [51]:
df["Message"].unique()

len_unique_values=len(df["Message"].unique())
len_unique_values

5171

In [52]:
df[df.duplicated()]

     Category                                            Message
111       ham  As per your request 'Melle Melle (Oru Minnamin...
162       ham  As per your request 'Melle Melle (Oru Minnamin...
215       ham  As I entered my cabin my PA said, '' Happy B'd...
231       ham                             Sorry, I'll call later
334       ham                   No calls..messages..missed calls
...       ...                                                ...
5532     spam  You are awarded a SiPix Digital Camera! call 0...
5543      ham  I know you are thinkin malaria. But relax, chi...
5547      ham                         Just sleeping..and surfing
5561      ham                        Hahaha..use your brain dear
5567      ham                             Sorry, I'll call later

[415 rows x 2 columns]

In [53]:
df=df.drop_duplicates()
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5581      ham                         Rofl. Its true to its name
5582     spam                      aao bhai 1000 crore jeeth jao
5583     spam              1 crore credited to your bank account
5584     spam                                    Jackpot Jackpot
5585     spam                             jackpot is necessarily

[5171 rows x 2 columns]

In [54]:
df[df.duplicated()]

Empty DataFrame
Columns: [Category, Message]
Index: []

In [55]:
labelencoder=LabelEncoder()

In [56]:
df["Category"]=labelencoder.fit_transform(df["Category"])
df

C:\Users\sanga\AppData\Local\Temp\ipykernel_4420\2782485417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Category"]=labelencoder.fit_transform(df["Category"])

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5581         0                         Rofl. Its true to its name
5582         1                      aao bhai 1000 crore jeeth jao
5583         1              1 crore credited to your bank account
5584         1                                    Jackpot Jackpot
5585         1                             jackpot is necessarily

[5171 rows x 2 columns]

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [58]:
# Initialize TF-IDF Vectorizer with English stop words
vectorizer = TfidfVectorizer(stop_words='english',max_features=1000)

# Fit the vectorizer on the training data and transform it
input_ = vectorizer.fit_transform(df["Message"])


# Check the shapes to confirm
print("input_ shape:", input_.shape)

input_ shape: (5171, 1000)

In [59]:
input=df["Message"]
output=df["Category"]

In [60]:
print(df["Category"].value_counts())

Category
0    4516
1     655
Name: count, dtype: int64

In [61]:
input_train,input_test,output_train,output_test=train_test_split(input,output,test_size=0.2,random_state=786,stratify=output)
input_train
input_test
output_train
output_test

4281    0
1441    0
1785    1
3735    0
4115    0
       ..
2762    0
1802    0
3343    0
5506    0
2313    0
Name: Category, Length: 1035, dtype: int32

In [62]:
from collections import Counter

print(f'Total set distribution: {Counter(output)}')
print(f'Training set distribution: {Counter(output_train)}')
print(f'Test set distribution: {Counter(output_test)}')

Total set distribution: Counter({0: 4516, 1: 655})
Training set distribution: Counter({0: 3612, 1: 524})
Test set distribution: Counter({0: 904, 1: 131})

In [63]:
# Initialize TF-IDF Vectorizer with English stop words
vectorizer = TfidfVectorizer(stop_words='english',max_features=1000)

input_train_tfidf = vectorizer.fit_transform(input_train)
input_test_tfidf = vectorizer.transform(input_test)

print("input_train_tfidf shape:", input_train_tfidf.shape)  # Should be (num_train_samples, 1000)
print("input_test_tfidf shape:", input_test_tfidf.shape)    # Should be (num_test_samples, 1000)

input_train_tfidf shape: (4136, 1000)
input_test_tfidf shape: (1035, 1000)

In [64]:
model=MultinomialNB()

In [65]:
model.fit(input_train_tfidf,output_train)

MultinomialNB()

In [66]:

model.score(input_test_tfidf,output_test)

0.978743961352657

In [67]:
output_predict=model.predict(input_test_tfidf)

In [68]:
accuracy_score(output_test,output_predict)

0.978743961352657

In [69]:
from sklearn.metrics import classification_report

In [70]:
print(classification_report(output_test, output_predict, target_names=labelencoder.classes_))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       904
        spam       0.98      0.85      0.91       131

    accuracy                           0.98      1035
   macro avg       0.98      0.92      0.95      1035
weighted avg       0.98      0.98      0.98      1035

In [71]:
import pickle

# After training your model
with open('spam_model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [72]:
with open("your_vectorizer_file.pkl","wb") as file:
    pickle.dump(vectorizer,file)